[submodule "src/franka_description"]
	path = src/franka_description
	url = https://github.com/dmalexa5/franka_description.git
[submodule "src/franka_ros2"]
	path = src/franka_ros2
	url = https://github.com/dmalexa5/franka_ros2.git
[submodule "src/libfranka"]
	path = src/libfranka
	url = https://github.com/frankarobotics/libfranka.git
	branch = 0.20.4
[submodule "src/olvx_descriptions_module"]
	path = src/olvx_descriptions_module
	url = https://github.com/olive-robotics/olvx_descriptions_module.git
[submodule "src/crisp_controllers"]
    path = src/crisp_controllers
    url = https://github.com/dmalexa5/crisp_controllers.git
[submodule "src/crisp_controllers_demos"]
    path = src/crisp_controllers_demos
    url = https://github.com/dmalexa5/crisp_controllers_demos.git
