.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
libfranka
franka_description
franka_ros2
build
install
log
.env
__pycache__